// app/layout.styl

@import '../_variables'
@import '../_mixins'


// you styles here:
body
  background: white

.chapter-form label
  display: block
  text-align: center

.clear
  height: 50px;
  display: block;

.note-metadata
  color: #b1bbc3;
  font-size: 13px;

html
  margin:0;
  padding:0;
  height:100%;