// app/layout.styl

@import '../_variables'
@import '../_mixins'


// you styles here:
body
  background: white

.chapter-form label
  display: block
  text-align: center

.clear
  height: 50px;
  display: block;