<div class="activism_events">
  <div class="header-blocks activism_events-header row">
      <h2>Activism Events</h2>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>
          Status
        </th>
        <th>
          School
        </th>
        <th>
          Type
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody data-hook="activism_event-list"></tbody>
  </table>
</div>