<tr>
  <td data-hook="prettyDateExecuted"></td>
  <td data-hook="status"></td>
  <td data-hook="type"></td>
  <td>
      <a class="btn btn-default" data-hook="action-view">view</a>
      <a class="btn btn-default" data-hook="action-edit">edit</a>
    </div>
  </td>
</tr>