<tr>
  <td data-hook="date_executed"></td>
  <td data-hook="status"></td>
  <td data-hook="type"></td>
  <td>
    <div class="btn-group">
      <a class="btn btn-default" data-hook="action-view">view</a>
      <a class="btn btn-default" data-hook="action-edit">edit</a>
    </div>
  </td>
</tr>