<div class="row" style="margin-bottom: 25px;">
  <div class="col-md-3">
    <div class="pull-left" style="width: 25%; margin-right: 15px;">
      <img data-hook="user_picture_url" class="img-responsive img-thumbnail"/>
    </div>
    <span data-hook="user_first_name"></span> <span data-hook="user_last_name"></span><br />
    <span data-hook="user_role" class="note-metadata"></span><br />
    <span data-hook="user_region" class="note-metadata"></span>
  </div>
  <div class="col-md-7">
    <div class="row"><span data-hook="message"></span></div>
    <div class="row note-metadata" style="bottom: 0px;">
      <span data-hook="prettyDateCreated"></span> on <span data-hook="parent_school_name" class="note-metadata"></span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="btn-group">
      <a class="btn btn-default btn-block" data-hook="action-view">view</a>
    </div>
  </div>
</div>