<tr class="row">
  <td class="col-md-4 col-xs-12">
    <div class="pull-left" style="width: 25%; margin-right: 15px;">
      <img data-hook="picture_url" class="img-responsive img-thumbnail"/>
    </div>
    <span data-hook="name"></span> <br />
    <span data-hook="role" class="note-metadata"></span><br />
    <span data-hook="region" class="note-metadata"></span>
  </td>
  <td class="col-md-3 col-xs-6">
    <span data-hook="email"></span>
  </td>
  <td class="col-md-3 col-xs-6">
    <span data-hook="phone"></span>
  </td>
  <td class="col-md-2 col-xs-12">
    <a class="btn btn-default btn-block" data-hook="action-view">view</a>
    <a class="btn btn-default btn-block" data-hook="action-view-fb">view facebook</a>
  </td>
</tr>