<section class="page pageOne">
  <div class="row">
    <div class="col-md-6">
      <h2>Activism Events</h2>
      <p>These are all the activism events in YAL's network.</p>
    </div>
    <div class="col-md-6 text-right pull-right">
       <a class="btn btn-default btn-md" href="/activism_event/add">Add New Activism Event</a>
    </div>
  </div>


  <h3>Activism Events:</h3>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>
          Status
        </th>
        <th>
          School
        </th>
        <th>
          Type
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody data-hook="activism_event-list"></tbody>
  </table>
</section>
