<section class="page view-chapter">
  <div class="row">
    <div class="col-md-10">
      <h2><span data-hook="type"></span>
      <small><span data-hook="school_name"></span></small></h2>
      </div>
    <div class="col-md-2">
      <div class="buttons">
        <a class="btn btn-default" data-hook="action-view-chapter">View Chapter</a>
        <a class="btn btn-default" data-hook="action-edit">Edit Activism Information</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      Type: <span data-hook="type"></span> <br />
      Status: <span data-hook="status"></span> <br />
      Blog Post Url: <span data-hook="blog_post_url"></span> <br />
      Date Executed: <span data-hook="prettyDateExecuted"></span><br />
      Date Created: <span data-hook="prettyDateCreated"></span> <br />
      Date Modified: <span data-hook="prettyDateModified"></span> <br />
    </div>
    <div class="col-md-6">
      <h3>School Information</h3>
      School: <span data-hook="school_name"></span> <br />
      School City: <span data-hook="school_city"></span> <br />
      School State: <span data-hook="school_state"></span> <br />
      School Region: <span data-hook="school_region"></span> <br />
      State Chair: <span data-hook="school_state_chair"></span> <br />
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <form data-hook="note_form">
      <fieldset data-hook="field-container">
      </fieldset>
      <div class="buttons">
        <button type="submit" class="btn btn-block btn-primary" data-hook="submit">Submit</button>
      </div>
    </form>
    <div data-hook="notes"></div>
  </div>

</section>
