<section class="page edit-activism_event">
  <h2>Edit Activism Event</h2>

  <form data-hook="chapter-form" class="form-horizontal">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons">
      <button type="submit" class="button small" data-hook="submit">Submit</button>
      <button data-hook="delete" type="delete" class="button small danger">Delete</button>
    </div>
  </form>
</section>
