<section class="page pageOne">
  <div class="row">
    <div class="col-md-9">
      <h2>Activism Events</h2>
      <p>This is a list of all the activism events within YAL's network. You'll find them listed in alphabetical order with their respective states and state chairs listed next to them.</p>
      <p>You can view more detailed information about a activism event by clicking "view" on the right hand column.</p>
      <p>To add a activism event, simply click "Add New Chapter" in the top right corner of the screen and input necessary information</p>
    </div>
    <div class="col-md-3 text-right pull-right">
       <a class="btn btn-default btn-md" href="/activism_event/add">Add New Activism Event</a>
    </div>
  </div>


  <h3>Activism Events:</h3>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>
          Status
        </th>
        <th>
          School
        </th>
        <th>
          Type
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody data-hook="activism_event-list"></tbody>
  </table>
</section>
