<section class="page pageOne">
  <div class="row">
    <div class="col-md-6">
      <h2>Chapters</h2>
      <p>These are all the chapters in YAL's network.</p>
    </div>
    <div class="col-md-6 text-right pull-right">
       <a class="btn btn-default btn-md" href="/chapter/add">Add New Chapter</a>
    </div>
  </div>


  <h3>Chapters:</h3>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>
          School Name
        </th>
        <th>
          State
        </th>
        <th>
          State Chair
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody data-hook="chapter-list"></tbody>
  </table>
</section>
