<section class="page add-person">
  <h2>Add Chapter</h2>
  <p>
    This form and all behavior is defined by the form view in
    <code>client/forms/person.js</code>.
  </p>
  <p>
    The same form-view is used for both editing and creating new users.
  </p>

  <form data-hook="person-form">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons" style="margin-top: 25px; margin-bottom: 25px">
      <button type="submit" class="btn btn-primary btn-block" data-hook="submit">Submit Changes</button>
    </div>
  </form>
</section>
