<section class="page view-person">
  <h2 data-hook="school_name"></h2>
  <span data-hook="city"></span>,<span data-hook="state"></span>
  <div class="buttons">
    <a class="btn" data-hook="edit">Edit</a>
    <button type="button" class="btn" data-hook="delete">Delete</button>
  </div>
</section>
