<section class="page page2">
  <h2>YAL Dash Guide</h2>
  <p>Can't figure out how to use this software? Fear not! You're in the right spot.</p>
  <h3>Chapters</h3>
  <p><b>Add New Chapter</b> - In order to add a new chapter, navigate over to the <code>/chapters</code> page and click on <code>Add New Chapter</code> in the top right corner of your screen. Then fill in all the appropriate infomration and click submit.</p>
  <p><b>Edit an Existing Chapter</b> - In order to edit an existing chapter, navigate over to the <code>/chapters</code> page and click on the chapter you which to edit. Then click <code>Edit Chapter</code> in the top right corner of your screen. You can now edit the information you which to adjust and save changes by clicking submit.</p>
  <p><b>Delete a Chapter</b> - In order to delete a chapter, navigate over to the <code>/chapters</code> page and click on the chapter you which to delete. Then click <code>Edit Chapter</code> in the top right corner of your screen. There is a Delete button on the top of the page next to the Edit Chapter header. Click that, type in your last name, and click submit to delete the chapter.</p>

  <h3>Activism Events</h3>
  <p><b>Add New Activism Event</b> - In order to add a new activism event, navigate over to the <code>/activism events</code> page and click on <code>Add New Activism Event</code> in the top right corner of your screen. Then fill in all the appropriate infomration and click submit.</p>
  <p><b>Edit an Existing Activism Event</b> - In order to edit an existing activism event, navigate over to the <code>/activism events</code> page and click on the activism event you which to edit. Then click <code>Edit Activism Event</code> in the top right corner of your screen. You can now edit the information you which to adjust and save changes by clicking submit.</p>
  <p><b>Delete a Activism Event</b> - In order to delete a activism event, navigate over to the <code>/activism events</code> page and click on the activism event you which to delete. Then click <code>Edit Activism Event</code> in the top right corner of your screen. There is a Delete button on the top of the page next to the Edit Activism Event header. Click that, type in your last name, and click submit to delete the activism event.</p>

  <h3>Users</h3>
  <p><b>Add New User</b> - In order to add a new user, navigate over to the <code>/users</code> page and click on <code>Add New User</code> in the top right corner of your screen. Then fill in all the appropriate infomration and click submit.</p>
  <p><b>Edit an Existing User</b> - In order to edit an existing user, navigate over to the <code>/users</code> page and click on the user you which to edit. Then click <code>Edit User</code> in the top right corner of your screen. You can now edit the information you which to adjust and save changes by clicking submit.</p>
  <p><b>Delete a User</b> - In order to delete a user, navigate over to the <code>/users</code> page and click on the user you which to delete. Then click <code>Edit User</code> in the top right corner of your screen. There is a Delete button on the top of the page next to the Edit User header. Click that, type in your last name, and click submit to delete the user.</p>

  <h3>Notes</h3>
  <p><b>Add New Note</b> - In order to add a new note, navigate to the item that you'd like to make a note on. Currently supported items include chapters and activism events.</p>
  <p><b>Edit an Existing Note</b> - At this time, it is not possible to edit an existing note. This is because we'd rather have notes remain as they were first inputted. If you'd like to correct a note, indicate it in another note.</p>
  <p><b>Delete a Note</b> - In order to delete a note, navigate over to the <code>/notes</code> page or the item that the note is attached to. Then click the <code>Delete</code> button located next to it and type in your last name.</p>
</section>
