<section class="page">
  <div class="text-center">
    <img src="http://kaybesee.com/yal-logo.jpg" class="img-responsive"/>
  </div>

  <form data-hook="person-form">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons">
        <button class="btn btn-block btn-primary" data-hook="reset" type="submit">Submit</button>
      </div>
  </form>
</section>
