<section class="page pageOne">
  <h3>Notes:</h3>
  <p>This is a list of all the notes within YAL's network. You'll find meta data about the chapters or activism events that they are about.</p>
  <p>To add a note, navigate to an chapter or activism event and submit one using the notes form.</p>
  <div class="table-striped">
    <div data-hook="note-list"></div>
  </div>
</section>
