<section class="page view-chapter">
  <div class="row">
    <div class="col-md-3">
      <img data-hook="picture_url" class="img-responsive img-rounded"/>
    </div>
    <div class="col-md-7">
      <h2><span data-hook="name"></span>
      <small><span data-hook="region"></span> <span data-hook="role"></span></small></h2>
      <h4>Phone: <span data-hook="phone"></span></h4>
      <h4>Email: <span data-hook="email"></span></h4><br />
    </div>
    <div class="col-md-2">
      <div class="buttons">
        <a class="btn btn-default btn-block" data-hook="action-view-fb">View Facebook</a>
        <a class="btn btn-default" data-hook="action-edit">Edit User Information</a>
        <a class="btn btn-default" data-hook="grabFacebook">Connect Facebook</a>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="row">
    <div class="col-md-12">
      <div data-hook="notes"></div>
    </div>
  </div>

</section>
