<section class="page edit-activism_event">
  <h2>Edit User <button data-hook="action-delete" type="delete" class="btn btn-danger">Delete</button></h2>

  <form data-hook="user-form" class="form-horizontal">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons" style="margin-top: 25px; margin-bottom: 25px">
      <button type="submit" class="btn btn-primary btn-block" data-hook="submit">Submit Changes</button>
    </div>
  </form>
</section>
