<li class="chapter list-group-item">
  <a data-hook="school_name"></a>
  <span data-hook="state"></span>
  <span data-hook="state_chair"></span>
  <span class="btn-group pull-right">
    <a class="btn btn-default" data-hook="action-edit">edit</a>
    <a href="#" class="btn btn-danger" data-hook="action-delete">delete</a>
  </span>
</li>
