<tr class="chapter">
  <td><a data-hook="school_name action-view"></a></td>
  <td data-hook="state"></td>
  <td data-hook="state_chair_assigned"></td>
  <td class="btn-group">
    <a class="btn btn-default" data-hook="action-edit">edit</a>
    <a href="#" class="btn btn-danger" data-hook="action-delete">delete</a>
  </td>
</tr>
